.swipeButtons {

    position: fixed;
    bottom: 5vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.btn {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3)
}

.repeat {
    padding: 2vw;
    color: #f5b748;
}

.cancel {
    padding: 2vw;
    color: #ec5e6f;
}

.star {
    padding: 2vw;
    color: #62b4f9;
}

.like {
    padding: 2vw;
    color: #76e2b3;
}

.lightning {
    padding: 2vw;
    color: #915dd1;
}